@media screen and (min-width: 1024px) {
    .header {
        margin-top: 3vh;
        margin-bottom: 20px;
    }
    
    .left {
        width: 20vh;
        margin-right: 10vh;
    }
    
    .right {
        width: 20vh;
        margin-left: 10vh;
    }
    
    .close {
        width: 20vh;
    }
    
    .title {
        margin-top: 8vh;
        margin-bottom: 20px;
    }
    
    h1 {
        font-size: 20vh;
        letter-spacing: 0.83vh;
        margin-left: 3vh;
    }
    
    h2 {
        font-size: 7.08vh;
        letter-spacing: 0.67vh;
        margin-left: 7vh;
        line-height: 0.8;
    }
    
    h3 {
        font-size: 7.08vh;
        letter-spacing: 0.67vh;
        margin-left: 7vh;
    }
    
    .information {
        margin-top: 2vh;
        margin-right: 12vh;
        margin-bottom: 20px;
    }
    
    h6 {
        line-height: 170%;
    }
    
    .line {
        border-top: 1px solid black;
        margin-top: 10vh;
    }
    
    .me {
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 4.34vh;
        text-align: right;
        letter-spacing: 1.5vh;
    }
    h5 {
        line-height: 2;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    
    .circle-1 {
        width: 10vh;
        height: 10vh;
        background-color: yellow;
        border: 1px solid #000000;
        border-radius: 50%;
        position: absolute;
        top: 25vh; 
      left: 83vh;
    }
      
    .circle-2 {
        width: 5vh;
        height: 5vh;
        background-color: yellow;
        border: 1px solid #000000;
        border-radius: 50%;
        position: absolute;
        top: 65vh; 
        left: 72vh;
    }

    .circle-3 {
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: 50vw;
        background-color: yellow;
        border: 1px solid #000000;
        border-radius: 50%;
        animation: expandAndFadeOut 5s linear infinite;
        z-index: 4;
      }
      
      @keyframes expandAndFadeOut {
        0% {
          width: 30vw;
          height: 30vw;
          opacity: 1;
        }
        
        50% {
            width: 100vw;
            height: 100vw;
            opacity: 0.8;
          }
    
        100% {
          width: 60vw;
          height: 60vw;
          opacity: 1;
        }
      }
    }
    
    
    
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .header {
            margin-top: 2vh;
            margin-bottom: 20px;
        }
        
        .left {
            width: 15vh;
            margin-right: 5vh;
        }
        
        .right {
            width: 15vh;
            margin-left: 5vh;
        }
        
        .close {
            width: 15vh;
        }
        
        .title {
            margin-top: 5vh;
            margin-bottom: 20px;
    
        }
        
        h1 {
            font-size: 15vh;
            letter-spacing: 0.83vh;
            padding-right: 6.67vh;
            margin-left: 2vh;
        }
        h2 {
            font-size: 10vh;
            letter-spacing: 0.67vh;
            line-height: 0.8;
            margin-left: 3vh;
        }
           
        h3 {
            font-size: 10vh;
            letter-spacing: 0.67vh;
            margin-left: 3vh;
            
        }
        
        .information {
            margin-top: 5vh;
            margin-right: 10vh;
            margin-bottom: 20px;
        }
        
        .line {
            border-top: 1px solid black;
            margin-top: 10vh;
        }
        
        .me {
            margin-top: 3vh;
            margin-bottom: 3vh;
            margin-right: 7vh;
            text-align: right;
            letter-spacing: 1vh;
        }
        h5 {
            font-size: 20px;
            line-height: 2;
            margin-top: 50px;
            margin-bottom: 50px;
          }
        
          .circle-1 {
            width: 8vh;
            height: 8vh;
            background-color: yellow;
            border: 1px solid #000000;
            border-radius: 50%;
            position: absolute;
            top: 18vh; 
            left: 45vh;
        }
          
        .circle-2 {
            width: 5vh;
            height: 5vh;
            background-color: yellow;
            border: 1px solid #000000;
            border-radius: 50%;
            position: absolute;
            top: 80vh; 
            left: 10vh;
        }
        
    
        .circle-3 {
            position: absolute;
            top: 110%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25vh;
            height: 25vh;
            background-color: yellow;
            border: 1px solid #000000;
            border-radius: 50%;
            animation: expandAndFadeOut 5s linear infinite;
            z-index: 4;
          }
          
          @keyframes expandAndFadeOut {
            0% {
              width: 30vw;
              height: 30vw;
              opacity: 1;
            }
            
            50% {
                width: 100vw;
                height: 100vw;
                opacity: 0.8;
              }
        
            100% {
              width: 30vw;
              height: 30vw;
              opacity: 1;
            }
          }
      }
    
    
    
      
    
      @media screen and (max-width: 767px) {
        .header {
            margin-top: 2vh;
            margin-bottom: 20px;
        }
        
        .left {
            width: 12vh;
            margin-right: 2vh;
        }
        
        .right {
            width: 12vh;
            margin-left: 2vh;
        }
        
        .close {
            width: 12vh;
        }
        
        .title {
            margin-top: 2vh;
            margin-bottom: 20px;
    
        }
        
        h1 {
            font-size: 6vh;
            letter-spacing: 0.83vh;
            padding-right: 15vh;
            margin-left: 2vh;
        }
        h2 {
            font-size: 3vh;
            letter-spacing: 0.5vh;
            line-height: 0.8;
            margin-left: 2.5vh;
        }
           
        h3 {
            font-size: 3vh;
            letter-spacing: 0.5vh;
            margin-left: 2.5vh;
            
        }
        
        .information {
            display: flex;
            flex-direction: column;
            margin-top: -20vh;
            margin-left: 8vh;
            align-items: flex-end;
        }
        
          h6 {
            font-size: small;
            margin-bottom: 2em;
            text-align: end;
        }
        
        .line {
            border-top: 1px solid black;
            margin-top: 3vh;
        }
        
        .me {
            margin-top: 3vh;
            margin-bottom: 5vh;
            text-align: right;
            letter-spacing: 0.5vh;
        }
        h5 {
            font-size: x-small;
            line-height: 2;
            margin-top: 50px;
            margin-bottom: 50px;
          }
        
        .circle-3 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30vw;
            height: 30vw;
            background-color: yellow;
            border: 1px solid #000000;
            border-radius: 50%;
            animation: expandAndFadeOut 5s linear infinite;
            z-index: 4;
          }
          
          @keyframes expandAndFadeOut {
            0% {
              width: 30vw;
              height: 30vw;
              opacity: 1;
            }
            
            50% {
                width: 100vw;
                height: 100vw;
                opacity: 0.8;
              }
        
            100% {
              width: 30vw;
              height: 30vw;
              opacity: 1;
            }
          }
      }
    
    
    
      